{
  "extends": "plugin:unicorn/recommended",
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "unicorn/filename-case": [
      "error",
      {
        "case": "camelCase"
      }
    ],
    "unicorn/prevent-abbreviations": [
      "error",
      {
        "allowList": {
          "props": true,
          "ref": true,
          "Props": true,
          "arg0": true,
          "arg1": true,
          "arg2": true
        }
      }
    ],
    "unicorn/no-null": [
      "off"
    ],
    "unicorn/no-this-assignment": [
      "off"
    ]
  }
}
