<form action="#put_user_password">
    <div class="profile__form_wrapper">
        {{>ProfileFormField label='Старый пароль' name='oldPassword' type='password'}}
        {{>ProfileFormField label='Новый пароль' name='newPassword' type='password'}}
        {{>ProfileFormField label='Повторите новый пароль' name='first_name' type='password'}}
    </div>
    {{>ActionButton text='Сохранить' class='profile__save_button'}}
</form>


