@import url("../../styles/main");

.chat_dropdown__wrapper {
  display: none;
  position: absolute;
  right: 10px;
  top: 70px;
  z-index: 100;
  background: #fff;
  padding: 0 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);

  &.active {
    display: block;
  }

  div {
    margin: 15px 0;
    cursor: pointer;

    &::before {
      content: '';
      display: inline-block;
      margin-right: 5px;
      width: 12px;
      height: 12px;
      text-align: center;
    }

    &:nth-child(1)::before {
      background: url("../../assets/images/chat_add.svg") no-repeat center;
    }

    &:nth-child(2)::before {
      background: url("../../assets/images/chat_remove.svg") no-repeat center;
    }

    &:nth-child(3) {
      color: @colorRed;
      border-top: 1px solid @colorGray;
      padding-top: 5px;

      &::before {
        content: '×';
        font-size: 20px;
        line-height: 1;
        color: @colorRed;
      }
    }
  }
}
