<div class="profile__form_wrapper">
    {{>profileFormField label='Старый пароль' name='oldPassword' type='password'}}
    {{>profileFormField label='Новый пароль' name='newPassword' type='password'}}
    {{>profileFormField label='Повторите новый пароль' name='first_name' type='password'}}
</div>
