@import "../../styles/main";

.chat_window__head_info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}
.chat_window__head_info_image {
  width: 37px;
  height: 37px;
  background: @colorGrayLight;
  border-radius: 100%;
  overflow: hidden;
}
.chat_window__head_info_title {
  font-size: 13px;
  font-weight: 600;
  line-height: 1;
  margin-left: 10px;
}
