<div class="popup_box popup__avatar_upload {{visible}}">
    <form action="/">
        <div class="popup__title">Загрузите файл</div>
        <input type="file" class="popup__avatar_upload_input">
        {{>actionButton text='Поменять'}}
    </form>
</div>
