<div class="profile__content_wrapper">
    <div class="profile__avatar_wrapper">
        <!-- <img src="" alt="" class="profile__avatar_image"> -->
    </div>
    <div class="profile__name">Иван</div>
    <form action="/profile.html">
        {{>profileForm editable="disabled"}}
        {{>profileActionsList}}
    </form>
</div>
