<div class="auth_from_wrapper">
    <div class="auth_from_wrapper__title">Регистрация</div>
    <form action="/list.html" id="login_form" class="auth_from_wrapper__form">
        <div class="auth_from_wrapper__form_inputs">
            {{>formField label='Почта' name='email' type='email'}}
            {{>formField label='Логин' name='login' type='text'}}
            {{>formField label='Имя' name='first_name' type='text'}}
            {{>formField label='Фамилия' name='second_name' type='text'}}
            {{>formField label='Телефон' name='phone' type='phone'}}
            {{>formField label='Пароль' name='password' type='password'}}
            {{>formField label='Пароль (ещё раз)' type='password'}}
        </div>

        {{>actionButton text='Зарегистрироваться'}}
        {{>loginBlockLink text='Войти?' href='/index.html'}}
    </form>
</div>
