<div class="error_page__wrapper">
    <div class="error_page__code">{{code}}</div>
    <div class="error_page__text">{{text}}</div>
    <a href="/index.html" class="error_page__back">Назад к чатам</a>
</div>
