<form action="#put_user_profile">
    <div class="profile__form_wrapper">
        {{>ProfileFormField label='Почта' name='email' type='email' value='pochta@yandex.ru'}}
        {{>ProfileFormField label='Логин' name='login' type='text' value='ivanivanov'}}
        {{>ProfileFormField label='Имя' name='first_name' type='text' value='Иван'}}
        {{>ProfileFormField label='Фамилия' name='second_name' type='text' value='Иванов'}}
        {{>ProfileFormField label='Имя в чате' name='display_name' type='text' value='Иван'}}
        {{>ProfileFormField label='Телефон' name='phone' type='phone' value='+7 (909) 967 30 30'}}
    </div>
    {{#ifEquals editable 'disabled'}}
        {{>ProfileActionsList}}
    {{/ifEquals}}
    {{#ifNotEquals editable 'disabled'}}
        {{>ActionButton text='Сохранить' class='profile__save_button'}}
    {{/ifNotEquals}}
</form>


