<div class="profile_actions__wrapper">
    <a href="/profile_edit.html" class="profile_actions__action">Изменить данные</a>
    <a href="/profile_password.html" class="profile_actions__action">Изменить пароль</a>
    <a href="/index.html" class="profile_actions__action red">Выйти</a>
</div>
